
<!-- Footer -->
<footer class="darkBackground page-footer font-small darken-3">

    <!-- Footer Elements -->
    <div>
        <!-- Grid row-->
        <div class="row mr-0">
            <div class="col-md-12 lightFont text-center py-1">
                <p>Contact: support@coclean.com</p>
            </div>
        </div>

            <div class="row mr-0">
            <!-- Grid column -->
            <div class="col-md-12 py-1">
                <div class="mb-1 flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic mr-md-5 ml-5 mr-2" >
                        <i class="fab fa-facebook-f fa-lg lightFont fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic mr-md-5 mr-2">
                        <i class="fab fa-instagram fa-lg lightFont fa-2x"> </i>
                    </a>
                    <!--Github-->
                    <a class="git-ic mr-md-5 mr-2">
                        <i class="fab fa-github fa-lg lightFont fa-2x"> </i>
                    </a>

                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright footerContent text-center py-3">© 2019 Copyright: Coclean,inc
        <a class="ml-2"  href="#"> Terms</a>
        <a class="ml-2" href="#"> Privacy</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->