<section class="py-5">
	<div class="container">
		<h1>REST API Test Ground</h1>
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-header">
						User (completed)
					</div>
					<div class="card-body">
						<p>GET</p>
						<ul>
							<li><a href="/test/user">Get all users</a></li>
							<li><a href="/test/user/id">Get specific user</a></li>
						</ul>
						<hr>
						<p>POST</p>
						<ul>
							<li><a href="/test/user/create">Create user</a></li>
						</ul>
						<hr>
						<p>PUT</p>
						<ul>
							<li><a href="/test/user/update">Update user</a></li>
						</ul>
						<hr>
						<p>DELETE</p>
						<ul>
							<li><a href="/test/user/delete">Delete user</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<div class="card-header">
						Collective
					</div>
					<div class="card-body">
						<p>GET</p>
						<ul>
							<li><a href="/test/collective">Get all collectives</a></li>
							<li><a href="/test/collective/id">Get specific collective</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>