<div class="darkBackground py-5">
    <div class="container lightFont pt-5">
        <div class="text-center">
        <h3 class="mb-4">Keeping shared apartments <span class="mellowYellow">clean</span> and <span class="mellowYellow">organized</span>
            can be a challenge.</h3>
        <h3>Whether it needs to be <span class="mellowYellow">done</span>, is <span class="finishGreen">done</span>,
         or is <span class="overdueRed">overdue</span>,<br> it's easily trackable in CoClean. <br> CoClean is a scheduling
            tool that helps you <br>and your roommates keep track of chores.</h3>
        </div>
        <div class="my-5 text-center">
                <button class=" btn btn-default"><span class="lightFont signupFont">Sign Up</span></button>
        </div>
    </div>
</div>
<div class="greyBackground py-5">
    <div class="featureHolder1 d-flex justify-content-around my-5">
        <div class="imageDiv1 w-50 m-5">
            <img src="https://images.unsplash.com/photo-1531824475211-72594993ce2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                 alt="" class="img-responsive img-fluid w-100 mx-auto d-block">
        </div>
        <div class="descriptionDiv1 w-50 m-5 text-center">
            <h2>Amazing Description</h2>
            <p>- This Div will describe said functionality</p>
            <p>- This Div will describe said functionality</p>
            <p>- This Div will describe said functionality</p>
        </div>
    </div>
    <div class="featureHolder1 d-flex justify-content-around my-5">
        <div class="descriptionDiv2 w-50 m-5 text-center">
            <h2>Amazing Description</h2>
            <p>- This Div will describe said functionality</p>
            <p>- This Div will describe said functionality</p>
            <p>- This Div will describe said functionality</p>
        </div>
        <div class="imageDiv2 w-50 m-5">
            <img src="https://images.unsplash.com/photo-1531824475211-72594993ce2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                 alt="" class="img-responsive img-fluid w-100 mx-auto d-block">
        </div>
    </div>
</div>

