<div class="darkBackground py-5">
  <div class="container lightFont pt-5">
    <div class="text-center">
      <h3 class="mb-4">Keeping shared apartments <span class="mellowYellow">clean</span> and <span
          class="mellowYellow">organized</span>
        can be a challenge.</h3>
      <h3>Whether it needs to be <span class="mellowYellow">done</span>, is <span class="finishGreen">done</span>,
        or is <span class="overdueRed">overdue</span>,<br> it's easily trackable in CoClean. <br> CoClean is a
        scheduling
        tool that helps you <br>and your roommates keep track of chores.</h3>
    </div>
    <div class="my-5 text-center">
      <button class="btn btn-finish" data-toggle="modal" data-target="#modalRegisterForm"><span
          class="lightFont signupFont">Sign Up</span></button>
    </div>
  </div>
</div>

{{!-- <div class="greyBackground py-5">
  <div class="featureHolder1 d-flex justify-content-around my-5">
    <div class="imageDiv1 w-50 m-5">
      <img
        src="https://images.unsplash.com/photo-1531824475211-72594993ce2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
        alt="" class="img-responsive img-fluid w-100 mx-auto d-block">
    </div>
    <div class="descriptionDiv1 w-50 m-5 text-center">
      <h2>Amazing Description</h2>
      <p>- This Div will describe said functionality</p>
      <p>- This Div will describe said functionality</p>
      <p>- This Div will describe said functionality</p>
    </div>
  </div>
  <div class="featureHolder1 d-flex justify-content-around my-5">
    <div class="descriptionDiv2 w-50 m-5 text-center">
      <h2>Amazing Description</h2>
      <p>- This Div will describe said functionality</p>
      <p>- This Div will describe said functionality</p>
      <p>- This Div will describe said functionality</p>
    </div>
    <div class="imageDiv2 w-50 m-5">
      <img
        src="https://images.unsplash.com/photo-1531824475211-72594993ce2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
        alt="" class="img-responsive img-fluid w-100 mx-auto d-block">
    </div>
  </div>
</div> --}}
<div class="container-fluid">
  <div class="intro-card">
    <div class="row my-4">
      <div class="col-sm-6">
        <div class="card-body">
          <h5 class="card-title">Collective</h5>
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, atque!</p>
          <ul>
            <li>Create collective</li>
            <li>Invite members</li>
            <li>List chores</li>
          </ul>
          <p class="card-text"><small class="text-muted">Lorem ipsum dolor sit amet.</small></p>
        </div>
      </div>
      <div class="col-sm-6">
        <img
          src="https://images.unsplash.com/photo-1531824475211-72594993ce2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
          class="card-img" alt="Placeholder">
      </div>
    </div>
  </div>
  <div class="intro-card">
    <div class="row my-4">
      <div class="col-sm-6">
        <img
          src="https://images.unsplash.com/photo-1531824475211-72594993ce2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
          class="card-img" alt="Placeholder">
      </div>
      <div class="col-sm-6 go-first">
        <div class="card-body">
          <h5 class="card-title">List of chores</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolor repellat
            inventore assumenda voluptatum iure ipsam hic, esse culpa! Id.</p>
          <ul>
            <li>Create chores</li>
            <li>Keep track of responsibilities</li>
            <li>See overdue tasks</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold darkFont">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="mdi mdi-account prefix grey-text"></i>
          <input type="text" id="firstname" class="form-control validate" autocomplete="off">
          <label data-error="Required field" data-success="" for="firstname">Your firstname</label>
        </div>

        <div class="md-form mb-5">
          <i class="mdi mdi-account prefix grey-text"></i>
          <input type="text" id="lastname" class="form-control validate" autocomplete="off">
          <label data-error="Required field" data-success="" for="lastname">Your lastname</label>
        </div>

        <div class="md-form mb-5">
          <i class="mdi mdi-email prefix grey-text"></i>
          <input type="email" id="email" class="form-control validate" autocomplete="off">
          <label data-error="Not valid email" data-success="" for="email">Your email</label>
        </div>

        <div class="md-form mb-4">
          <i class="mdi mdi-lock prefix grey-text"></i>
          <input type="password" id="password" class="form-control validate">
          <label data-error="" data-success="" for="password">Your password</label>
        </div>

        <div class="md-form mb-4">
          <i class="mdi mdi-lock prefix grey-text"></i>
          <input type="password" id="re-password" class="form-control validate">
          <label data-error="" data-success="" for="re-password">Re-enter password</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-finish"><span class="lightFont signupFont">Sign Up</span></button>
      </div>
    </div>
  </div>
</div>