:root {
  --darkLight: #f4f4f4;
  --lightFont: #f7f7f7;
  --backgroundGrey: #eaeaea;
  --backgroundBlue: #40526c;
  --mellowYellow: #fcbb6d;
  --finishGreen: #4ab19d;
  --overdueRed: #d8737f;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

.content {
  flex-grow: 1;
  background-color: var(--backgroundGrey);
}

h1 {
  color: green;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

.darkBackground {
  background-color: var(--backgroundBlue);
}

.lightFont {
  color: var(--lightFont);
}

.darkFont {
  color: var(--backgroundBlue);
}

.mellowYellow {
  color: var(--mellowYellow);
}

.overdueRed {
  color: var(--overdueRed);
}

.finishGreen {
  color: var(--finishGreen);
}

.btn-default {
  background-color: var(--finishGreen);
}

.btn-finish {
  background-color: var(--finishGreen);
}

.btn-outline-finish,
.btn-outline-finish:hover {
  color: var(--finishGreen);
  background-color: transparent !important;
  border: 2px solid var(--finishGreen);
}

.signupFont {
  font-size: 1.5em;
}

.greyBackground {
  background-color: var(--backgroundGrey);
}
