:root {
  --darkLight: #f4f4f4;
  --lightFont: #f7f7f7;
  --backgroundGrey: #eaeaea;
  --backgroundBlue: #40526c;
  --mellowYellow: #fcbb6d;
  --finishGreen: #4ab19d;
  --overdueRed: #d8737f;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

.content {
  flex-grow: 1;
  background-color: var(--backgroundGrey);
}

h1 {
  color: green;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

datalist {
  display: none;
}

.darkBackground {
  background-color: var(--backgroundBlue);
}

.lightFont {
  color: var(--lightFont);
}

.darkFont {
  color: var(--backgroundBlue);
}

.mellowYellow {
  color: var(--mellowYellow);
}

.overdueRed {
  color: var(--overdueRed);
}

.finishGreen {
  color: var(--finishGreen);
}

.btn-default {
  background-color: var(--finishGreen);
}

.btn-finish {
  background-color: var(--finishGreen);
}

.btn-overdue {
  background-color: var(--overdueRed);
}

.btn-mellowYellow {
  background-color: var(--mellowYellow);
}

.btn-outline-finish,
.btn-outline-finish:hover {
  color: var(--finishGreen);
  background-color: transparent !important;
  border: 2px solid var(--finishGreen);
}

.btn-outline-overdue,
.btn-outline-overdue:hover {
  color: var(--overdueRed);
  background-color: transparent !important;
  border: 2px solid var(--overdueRed);
}

.signupFont {
  font-size: 1.5em;
}

.greyBackground {
  background-color: var(--backgroundGrey);
}

.intro-card {
  color: var(--backgroundBlue);
}

.modal-open {
  overflow: hidden !important;
}

.hiddenRow {
  padding: 0 !important;
}

.chore-table tr:nth-child(4n + 1),
.chore-table tr:nth-child(4n + 2) {
  background-color: rgba(0, 0, 0, 0.05);
}

.chore-table tr:hover {
  cursor: pointer;
}

.padz {
  padding: 0.75rem;
}

@media (max-width: 576px) {
  .go-first {
    order: -1;
  }
}

/* Smartphones ----------- */
@media only screen and (max-width: 760px) {
  .nav-fixed {
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  .nav-space {
    padding-top: 3rem;
  }
}

@media (max-width: 376px) {
  .table {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}
