<div class="container text-center mt-5 nav-space">
    <h2 class="darkFont">{{title}}</h2>

    <h5 class="darFont">This week's duty master</h5>
    <h4 class="darkFont">Christina</h4>

    <table id="chores" class="table" style="border-collapse:collapse;">
        <p class="text-left">List of chores (click on a chore to view description)</p>
        <thead class="darkBackground lightFont">
        <tr>
            <th class="text-left" colspan="2">Name</th>
            <th>Frequency</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody class="chore-table">
        <tr>
            <td class="text-left align-middle" colspan="2" data-toggle="collapse" data-target=".item1">Daily garbage</td>
            <td class="align-middle" data-toggle="collapse" data-target=".item1">1/7</td>
            <td><button class="btn btn-finish btn-sm m-0"><span class="lightFont">Edit</span></button></td>
        </tr>
        <tr>
            <td class="hiddenRow" colspan="4">
                <div class="collapse item1 text-left">Description</div>
            </td>
        </tr>
        <tr>
            <td class="text-left align-middle" colspan="2" data-toggle="collapse" data-target=".item2">Kitchen vacuum</td>
            <td class="align-middle" data-toggle="collapse" data-target=".item2">1</td>
            <td><button class="btn btn-finish btn-sm m-0"><span class="lightFont">Edit</span></button></td>
        </tr>
        <tr>
            <td class="hiddenRow" colspan="4">
                <div class="collapse item2 text-left">Description</div>
            </td>
        </tr>
        <tr>
            <td class="text-left align-middle" colspan="2" data-toggle="collapse" data-target=".item3">Bathroom cleaning
            </td>
            <td class="align-middle" data-toggle="collapse" data-target=".item3">1</td>
            <td><button class="btn btn-finish btn-sm m-0"><span class="lightFont">Edit</span></button></td>
        </tr>
        <tr>
            <td class="hiddenRow" colspan="4">
                <div class="collapse item3 text-left">Description</div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="my-5 text-center">
        <button class="btn btn-finish" data-toggle="modal"><span class="lightFont signupFont">Add Chore</span></button>
    </div>

</div>