<div class="container py-5">
  <h1 class="darkFont text-center">{{title}}</h1>
  <br>
  <p class="darFont text-center">You can search for all users and collectives registered in the application</p>
</div>
<div class="container pb-5">
  <table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
      <tr>
        <th>Collective</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>

      {{#each data}}
      <tr>
        <td>{{name}}</td>
        <td>{{surname}}</td>
        <td>{{email}}</td>
      </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <th>Collective</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </tfoot>
  </table>
</div>

<script>
  $(document).ready(function () {
    $('#example').DataTable();

    $('#dtBasicExample').DataTable();
    $('.dataTables_length').addClass('bs-select');
  });
</script>