<div class="container mt-5 nav-space">
  <h1 class="darkFont text-center">{{title}}</h1>
  <div id="result" style="width: 100%;"></div>
  <div class="card mb-4">
    <div class="card-body">
      <div class="mb-3" id="reportData">
        <h5 class="card-title">Reports</h5>
        <p class="card-text">Select report type and collective to view statistics.</p>
        <hr>
      </div>
      <div class="text-center">
        <div class="form-group">
          <h6 class="darkFont">Choose stat type</h6>
          <select class="form-control" name="" id="stats">
            <option value="members">Number of member</option>
            <option value="overdues">Number of overdues</option>
            <option value="completed">Percentage of chores completed</option>
          </select>
        </div>
        <div class="my-2">
          <h6 class="darkFont">Choose collective</h6>
          <select class="form-control" name="" id="collectiveList">
            <option value="">Select collective</option>
          </select>
        </div>

        <button id="getStats" class="btn btn-primary text-center">GET STATS</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/page/statistics/main.js"></script>